@import 'colors/matugen.css';

* {
    border: none;
    border-radius: 0;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    min-height: 0;
    border-radius: 50px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @surface_container_high;
    border: 1px solid @outline_variant;
    border-radius: 12px;
    color: @on_surface;
}

tooltip label {
    color: @on_surface;
}

.modules-left {
    margin-left: 15px;
}

.modules-right {
    margin-right: 15px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-media,
#pulseaudio,
#battery,
#network {
    background-color: @surface_container;
    color: @on_surface;
    margin-right: 10px;
    padding: 0 10px;
}

#custom-launcher {
    color: @primary;
    font-size: 20px;
    padding: 0 14px;
}

#clock {
    color: @primary;
}

#custom-notification {
    color: @on_surface_variant;
}

#custom-media {
    color: @secondary;
}

#pulseaudio {
    color: @tertiary;
}

#battery {
    color: @on_surface;
}

#battery.charging {
    color: @primary;
}

#battery.warning:not(.charging) {
    color: @error;
}

#network {
    color: @on_surface_variant;
}

#network.disconnected {
    color: @error;
}

#workspaces {
    padding: 8px 5px;
    border-radius: 16px;
    background-color: @surface_container;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    transition: all 0.3s ease-in-out;
    background-color: @surface_container_high;
}

#workspaces button.active {
    background-color: @primary_container;
    color: @on_primary_container;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: @secondary_container;
    color: @on_secondary_container;
    border-radius: 16px;
    min-width: 50px;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
    border-radius: 16px;
    min-width: 50px;
    transition: all 0.1s ease-in-out;
}